* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter;
 
}

.menu_bar {
    background-color: #073F33;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    width: 175px;
    cursor: pointer;
    margin-left: -30px;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;

}

.menu_bar ul li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu_bar ul li a:hover {
    color: cadetblue;
    transition: all 0.3s;
}

.dropdown_menu {
    display: none;
    z-index: 1;
}

.menu_bar ul li:hover .dropdown_menu {

    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(189, 170, 141, 0.342);
}

.dropdown_menu ul {
    display: block;
    margin: 10px;
}

.dropdown_menu ul li {
    font-family: Inter;
    font-size: 5px;
    font-weight: bold;
    margin: 10px;
    background: #073F33;
    width: 180px;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    border-radius: 30px;
    cursor: pointer;
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard{
    top: 24%;
    width: 60%;
    min-height: 60%;
    background-color:white;/* Semi-transparent background color */
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px;
    position: absolute;

}
.back h1{
    display: block;
    color:black;
    margin-top: 3%;
  }
span{
    color: rgb(180, 0, 0);
    font-weight: bold;
}
.form {
    margin-top: 35px;
    padding: 15px ;
  }
  .group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  
  .form-group {
    display: flex;
    margin: 5px;
    min-width: 48%;
    margin-top: 15px;
    border-bottom: 1px solid #d3d0d0fd; /* Underline repove korte hole*/
  
  }
  
  .form-group label {
    margin-right: 10px;
    text-align: left;
    width: 120px;
    color: black;
    font-size: 20px;
  }
  
  .form-group p{
    font-size: 20px;
    color: black;
    padding: 5px;
    font-weight: bold;
  }
  .form-input{
    display: flex;
    margin-top: 40px;
  }
  .form-input label {
    font-weight: bold;
    color: black;
    font-size: 20px;
    width: 140px;
    text-align: left;
}
.form-input input[type="text"]{
    font-size: 18px;
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.from-button{
    margin-top: 80px;
    margin-left: 40%;
}
.custom-button {
    display: inline-block;
    padding: 10px 25px;
    font-size: 14px;
    margin-left: 40px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #65ffd8, #034d2a);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.custom-button:hover {
    background: linear-gradient(to right,#034d2a,  #65ffd8);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
footer{
    position: absolute;
    background-color: #073F33;
    margin-top: 40%; /* Pushes footer to the bottom */
    width: 100%
  }
  .footerContainer{
    width: 100%;
    padding: 50px 30px 20px;
    flex-shrink: 0; /* Prevents footer from shrinking */
  }
  .socialIcon{
    display: flex;
    justify-content: center;
  }
  .socialIcon a{
    text-decoration: none;
    padding: 10px;
    background-color:white ;
    margin: 10px;
    border-radius: 50%;
  }
  .socialIcon a i{
    font-size: 1.5em;
    color: #062e25;
    opacity: 0.9;
  }
  .socialIcon a:hover{
    background-color:#0a3027;
    transition: 0.5s;
  }
  .socialIcon a:hover i{
    color: white;
    transition: 0.5;
  }
  .footerNav{
    margin: 30px 0;
  
  }
  .footerNav ul{
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
  }
  .footerNav ul li a:hover{
    opacity: 1;
  }
  .footerBottom{
    background-color:#082b24;
    padding: 20px;
    text-align: center;
  }
  .footerBottom p{
    color: white;
  }
  @media (max-width:700px)
  {
    .footerNav ul{
      flex-direction: column;
    }
    .footerNav ul li{
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  }